/* Wilson's Part */

* {
    margin: auto;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f5f2;
    color: #2d2d2d;
    margin: 0;
}

nav {
    background-color: #ede6db;
    padding: 30px 0;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #b87333;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #3b6ea5;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #e0a243;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #b87333;
    width: 160px;
    padding: 12px 16px;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

.dropdown-content a {
    color: #3b6ea5;
    display: block;
    padding: 8px 3px;
    margin: 3px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f0d9bd;
    color: #2d2d2d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/*Nora*/
.sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 20px;
}

/* Nora start */
#sub-container h1 {
    padding: 10px;
    margin: 10px 20px;
}

#synopsis {
    padding: 10px;
    margin: 10px 20px;
    width: 50%;
    text-align: center;
}

footer {
    text-align: center;
}
/* Nora end */